@model DAL.ViewModels.RegisterViewModel
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3">
    <input id="fname" asp-for="FirstName" class="fs-6 form-control form-control-lg" type="text"
        placeholder="First Name">
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="mb-3">
    <input id="lname" asp-for="LastName" class="fs-6 form-control form-control-lg" type="text" placeholder="Last Name">
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="position-relative mb-3" id="emailDiv">
    <input id="email" asp-for="Email" class="fs-6 form-control form-control-lg" type="email" placeholder="Email"
        aria-label="Email">
    <span asp-validation-for="Email" class="text-danger"></span>
    <span class="position-absolute emailInput"><i class="fa-solid fa-user"></i></span>
</div>
<div class="position-relative mb-3" id="passwordDiv">
    <input asp-for="Password" class="fs-6 form-control form-control-lg" type="text" id="password"
        placeholder="Password">
    <span asp-validation-for="Password" class="text-danger"></span>
    <span class="position-absolute emailInput"><i class="fa-regular fa-eye passwordIcon"></i></span>
</div>
<div class="position-relative mb-3" id="passwordDiv">
    <input asp-for="ConfirmPassword" class="fs-6 form-control form-control-lg" type="text" id="password"
        placeholder="Confirm Password">
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <span class="position-absolute emailInput"><i class="fa-regular fa-eye passwordIcon"></i></span>
</div>
<div class="mb-3">
    <input type="text" class="fs-6 form-control form-control-lg" asp-for="Phone" placeholder="Phone Number">
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>