@using DAL.Models
@model DAL.ViewModels.VendorViewModel
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3">
    <div class="d-flex my-2">
        <div class="col-md mb-2">
            <select class="form-select fs-6" asp-for="DocumentType" id="cityLabel"
                asp-items="@(new SelectList(Enum.GetNames(typeof(VendorDocuments))))">
                <option value="" selected>Select Document Type</option>
            </select>
            <span asp-validation-for="DocumentType" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="mb-3">
    <div class="d-flex my-2">
        <div class="input-group">
            <label for="file-input-thing" id="file-input-label" class="form-control" />
            <div class="col d-flex flex-column align-items-center justify-content-center mt-3">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <p class="mb-0 imgTitle">Upload Document</p>
            </div>
            <input type="file" id="file-input-thing" style="width: 0;" asp-for="File" accept=".pdf,.jpg,.jpeg,.png">
        </div>
    </div>
    <span asp-validation-for="FileUrl" class="text-danger"></span>
</div>


<script>
    $(document).on('change', '#file-input-thing', function () {
        const allowedExtensions = ['pdf', 'jpg', 'jpeg', 'png'];
        const file = this.files[0];

        if (file) {
            const fileName = file.name.toLowerCase();
            const extension = fileName.split('.').pop();

            if (!allowedExtensions.includes(extension)) {
                $(this).val('');

                toastr.error("Only PDF and image files (JPG, JPEG, PNG) are allowed.");
            }
        }
    });

</script>