@model List<DAL.Models.Notification>

<div class="d-flex justify-content-between align-items-center">
    <li class="dropdown-header fw-semibold fs-6">Notifications</li>
    <button type="button" class="fs-4 close btn text-end" data-bs-dismiss="dropdown" aria-label="Close">&times;
    </button>
</div>
<li>
    <hr class="dropdown-divider">
</li>
@if (Model != null && Model.Any())
{
    foreach (var notification in Model.OrderByDescending(n => n.CreatedAt))
    {
        <li class="dropdown-item d-flex justify-content-between align-items-start notification-item fw-semibold">
            <div class="me-2">
                <i class="bi bi-bell-fill text-primary me-1"></i>
                <span>@notification.Message</span>
            </div>
            <button class="btn btn-sm btn-link text-decoration-none markRead" data-id="@notification.Id"><i
                    class="fa-regular fa-circle"></i></button>
        </li>
    }
    <li>
        <hr class="dropdown-divider">
    </li>
    <li class="text-center"><button class="btn btn-sm btn-outline-primary" id="markAllRead">Mark all as read</button>
    </li>
}
else
{
    <li class="dropdown-item text-muted">No new notifications.</li>
}
