@using DAL.Enums
@using DAL.Models
@using DAL.ViewModels
@{
    ViewData["Title"] = "Customers";
    ViewData["showLayout"] = true;
}

<div class="content dash p-4 m-4" id="content">
    <div class="d-flex flex-wrap justify-content-center align-items-center ">
        <h2 class="col-lg txtCustom">Customers</h2>

        <div class="col-lg-3 my-1 position-relative me-2 searchItem">
            <input class="row-md form-control fs-6 " type="text" aria-label="Search" placeholder="Search"
                name="searchString" id="searchCInput">
            <button type="button" class="position-absolute searchInput btn btn-link"><i
                    class="fa-solid fa-search"></i></button>
        </div>
    </div>
    <div>
        <div id="PartialCustomerDiv" class="mt-2"></div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form class="addCatForm" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="catModal"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary savebtn" onclick="EditUserFunction()">Save</button>
                    <button type="button" class="btn btn-outline-primary resetBtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let vendor = {};

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("CustomerList", "Customer")',
            type: 'GET',
            success: function (data) {
                $("#PartialCustomerDiv").html(data);
            },
        });
    });

    $('#searchCInput').keyup(function () {
        var searchValue = $(this).val();
        $('#searchCInput').data('search', searchValue);
        loadUsers();
    });

    $(document).on("click", '.editDetails', function () {
        let userId = $(this).data('id');
        $.ajax({
            url: "/Admin/Customer/CustomerModal",
            type: "GET",
            data: { userId: userId },
            success: function (data) {
                $('#editModal').modal('show');
                $('.catModal').html(data);
            },
            error: function () {
                alert("Failed to load Edit Content.");
            }
        });
    });

    $(document).on("click", '.resetBtn', function () {
        $(".addCatForm")[0].reset();
    });

    function EditUserFunction() {
        event.preventDefault();
        event.stopPropagation();

        let formData = new FormData($(".addCatForm")[0]);

        var result = $('.addCatForm').valid();

        console.log(result);
        if (result) {
            $.ajax({
                url: '/Admin/Customer/EditDetails',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.status == "Invalid") {
                        toastr.error("Enter valid data");
                        return;
                    }
                    else {
                        toastr.success("User Updated Successfully!!");
                        $('#PartialCustomerDiv').html(response);
                        $('#editModal').modal('hide');
                    }
                }
            });
        }
    }
</script>