@{
    ViewData["Title"] = "Admin";
    @* ViewData["showLayout"] = true; *@
}


<div class="content dash p-4 m-4" id="content">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="txtCustom">Admin</h3>
    </div>

    <div class="row justify-content-between align-items-center mt-4">
        <div id="PartialTicketsDiv">
            <div class="col-md bg-white shadow rounded p-3"></div>
        </div>
    </div>
</div>


